@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 900px) {
  .page__section {
    margin: 19px auto;
    max-width: calc(100% - 40px);
  }

  .header {
    margin-top: 45px;
    margin-bottom: 0;
  }

  .profile {
    margin-top: 40px;
    margin-bottom: 51px;
  }

  .cards {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 796px) {
  .profile__info {
    max-width: 200px;
  }

  .profile__name {
    font-size: 28px;
  }

  .profile__bio {
    font-size: 17px;
  }

  .profile__add-button {
    background: transparent url(../images/add-button.svg) cover no-repeat;
    width: 50px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 28px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 36px;
  }

  .profile__info {
    justify-content: center;
    justify-items: center;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 36px;
    gap: 14px 10px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__bio {
    font-size: 14px;
  }

  .profile__add-button {
    background: transparent url(../images/Add\ Button.png) cover no-repeat;
    margin: auto 36px;
    width: 282px;
  }

  .footer__copy-right {
    font-size: 14px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
